.faqs
{
  min-height: 100vh;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq
{
  max-width: 800px;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid ;
  cursor: pointer;
}

.question
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question h3
{
  font-size: 1.8rem;
}


.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease, animation 0.5s ease;
}

.answer p {
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 18px;
}

.faq.reveal .answer {
    max-height: 300px;
    animation: fade 1s ease-in-out;
}

.faq.reveal svg {
    transform: rotate(180deg);
}

svg {
    margin-left: 25px;
    transition: transform 0.5s ease-in;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

